#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
#agrupacion {
  box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 2.5px 2px rgba(0, 0, 0, 0.06),
    0 2.3px 7.9px rgba(0, 0, 0, 0.072),
    0 1.8px 3.4px rgba(0, 0, 0, 0.086),
    0 2px 2px rgba(0, 0, 0, 0.12)
}

  .rowspinner {
    display: flex;
      flex-direction: row;
      align-items: center;
      height: 70%;
      justify-content: center;
  }
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  
  #header{
    position: sticky;
    background-color: #28BA62;
    
  }
  
  #contentGeneral{
    --ion-background-color:#f2f2f2;
  }
  
  #nuevaPublicacion{
    --padding-top: .5rem;
    --padding-bottom: .5rem;
    --padding-start:  2rem;
    --padding-end: 2rem;
    height: fit-content; 
    --border-color: #28BA62;
    --color: #28BA62;
    --border-width: 0.25rem;
    --border-radius: 1rem;
    --box-shadow: 0px 5px 5px #00000033
  }
  
  .btnMenuHome{
    width: 8rem;
    height: 8rem;
  }
  
  #btnMenuHomeAdopTran{
    --background: #8F00FF;
    --border-radius: 0.5rem;
    --box-shadow: 0px 5px 5px #00000033;
  
  }
  
  #btnMenuHomePerEnc{
    --background: #0094FF;
    --border-radius: 0.5rem;
    --box-shadow: 0px 5px 5px #00000033;
  
  }
  
  #btnMenuHomeMap{
    --background: #28BA62;
    --border-radius: 0.5rem;
    --box-shadow: 0px 5px 5px #00000033;
  }
  
  #btnMenuHomeAgru{
    --background: #FFCA22;
    --border-radius: 0.5rem;
    --box-shadow: 0px 5px 5px #00000033;
  }
  
  #headerSideMenu{
    --box-shadow: none;
    --border: none;
  }
  
  .header-md::after {
    display: none;
  }


  .not-selected{
    background-color: var(--ion-color-beta); 
    margin: .5rem; 
    border-radius: .5rem; 
    min-height: 15rem;
    max-height: 18rem; 
    overflow: hidden; 
    width: 90%; 
  }


  

  .filtrosrapidos{
    position:fixed; 
    height: 3.5rem;
  }
  .listado {
    margin-top: 4.5rem;
  }
  @media screen and (min-width: 1024px) {
    /* Estilos para componentes de la aplicación en pantallas grandes */
    .filtrosrapidos{
      position: unset; 
      height: 3.5rem;
    }
    .listado {
      margin-top: 1rem;
    }
  }

  @media screen and (min-width: 1024px) {
    ion-content{
      --padding-start: 30%;
      --padding-end: 30%;
    }
  }