<ion-item id="sharePublicacion" style="--background: var(--ion-color-beta)" *ngIf="!vencida && estadoGeneral == 1" (click)="sharePublicacion()">
  <ion-icon color="light" name="share-social-outline"></ion-icon>
  <ion-text style="margin-left: .5rem; text-align: left; color: white; font-family: 'DM-SANS'; font-weight: 600;">Compartir Publicación</ion-text>
  <button hidden class="btn" [attr.data-clipboard-text]="textToCopy"></button>
</ion-item>
<ion-item id="editPublicacion" style="--background: var(--ion-color-beta)" lines = "full" *ngIf="!vencida && perfilLogeado" (click)="editPublicacion()">
  <ion-icon color="light" name="create-outline"></ion-icon>
  <ion-text style="margin-left: .5rem; text-align: left; color: white; font-family: 'DM-SANS'; font-weight: 600;">Editar Publicación</ion-text>
</ion-item>
<ion-item id="pausarPublicacion" style="--background: var(--ion-color-beta)" lines = "full" *ngIf="!vencida && perfilLogeado && estadoGeneral == 1" (click)="pausarPublicacionModal()">
  <ion-icon color="light" name="pause-circle-outline"></ion-icon>
  <ion-text style="margin-left: .5rem; text-align: left; color: white; font-family: 'DM-SANS'; font-weight: 600;">Pausar Publicación</ion-text>
</ion-item>
<ion-item id="reanudarPublicacion" style="--background: var(--ion-color-beta)" lines = "full" *ngIf="!vencida && perfilLogeado && estadoGeneral == 2" (click)="reanudarPublicacionModal()">
  <ion-icon color="light" name="play-circle-outline"></ion-icon>
  <ion-text style="margin-left: .5rem; text-align: left; color: white; font-family: 'DM-SANS'; font-weight: 600;">Reanudar Publicación</ion-text>
</ion-item>
<ion-item id="finalizarPublicacion" style="--background: var(--ion-color-beta)" lines = "full" *ngIf="!vencida && perfilLogeado && estadoGeneral == 1" (click)="finalizarPublicacionModal()">
  <ion-icon color="light" name="checkmark-circle-outline"></ion-icon>
  <ion-text style="margin-left: .5rem; text-align: left; color: white; font-family: 'DM-SANS'; font-weight: 600;">Finalizar Publicación</ion-text>
</ion-item>
<ion-item id="eliminarPublicacion" style="--background: var(--ion-color-beta)" lines = "full" *ngIf="perfilLogeado">
  <ion-icon style="color : #ff2a2a" name="trash-outline"></ion-icon>
  <ion-text style="margin-left: .5rem; text-align: left; color: #ff2a2a; font-family: 'DM-SANS'; font-weight: 600;" (click)="eliminarPublicacionModal()">Eliminar Publicación</ion-text>
</ion-item>

<ion-modal id="modalPausar" #modalP >
  <ng-template>
    <ion-content no-shadow>
      <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; padding-bottom: 3rem;">
        <div style="text-align: center;background-color: white;margin: 1.5rem;border-radius: .5rem; padding: 1.25rem;">
          <p style="color: rgba(0,0,0,.85);font-family: DM-SANS;text-align: center;font-size: 1.5rem;font-weight: 600;margin: 0 2rem 1rem 2rem;">¿Esta seguro que deseas pausar esta publicacion?</p>
          <p style="color: rgba(0,0,0,.85);font-family: DM-SANS;text-align: center;font-size: 1rem;">La publicacion dejará de estar visible para los demás hasta que la vuelvas a reanudar.</p>

          <ion-row style="margin-top: 1rem;  width: 100%; padding: 0 5%;">
            <ion-col size="6">
              <ion-button style="width: 100%; height: 3rem;  --border-radius: .5rem; --border-color: var(--ion-color-beta); color: var(--ion-color-beta);" fill="outline" (click)="modalP.dismiss()">
                  <span style="font-size: 1.2rem; font-family: DM-Sans; text-transform: none; font-weight: 600;"> Cancelar </span>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button style="width: 100%; height: 3rem; --background: var(--ion-color-beta); --border-radius: .5rem" (click)="pausarPublicacion()">
                  <span style="font-size: 1.2rem; font-family: DM-Sans; text-transform: none; font-weight: 600;"> Pausar </span>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal id="modalReanudar" #modalR >
  <ng-template>
    <ion-content no-shadow>
      <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; padding-bottom: 3rem;">
        <div style="text-align: center;background-color: white;margin: 1.5rem;border-radius: .5rem; padding: 1.25rem;">
          <p style="color: rgba(0,0,0,.85);font-family: DM-SANS;text-align: center;font-size: 1.5rem;font-weight: 600;margin: 0 2rem 1rem 2rem;">¿Esta seguro que deseas reanudar esta publicacion?</p>
          <p style="color: rgba(0,0,0,.85);font-family: DM-SANS;text-align: center;font-size: 1rem;">La publicacion volvera a estar visible para los demás usuarios.</p>

          <ion-row style="margin-top: 1rem;  width: 100%; padding: 0 5%;">
            <ion-col size="6">
              <ion-button style="width: 100%; height: 3rem;  --border-radius: .5rem; --border-color: var(--ion-color-beta); color: var(--ion-color-beta);" fill="outline" (click)="modalR.dismiss()">
                  <span style="font-size: 1.2rem; font-family: DM-Sans; text-transform: none; font-weight: 600;"> Cancelar </span>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button style="width: 100%; height: 3rem; --background: var(--ion-color-beta); --border-radius: .5rem" (click)="reanudarPublicacion()">
                  <span style="font-size: 1.2rem; font-family: DM-Sans; text-transform: none; font-weight: 600;"> Reanudar </span>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal id="modalFinalizar" #modalF >
  <ng-template>
    <ion-content no-shadow>
      <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; padding-bottom: 3rem;">
        <div style="text-align: center;background-color: white;margin: 1.5rem;border-radius: .5rem; padding: 1.25rem;">
          <p style="color: rgba(0,0,0,.85);font-family: DM-SANS;text-align: center;font-size: 1.5rem;font-weight: 600;margin: 0 2rem 1rem 2rem;">¿Esta seguro que deseas finalizar esta publicacion?</p>
          <p style="color: rgba(0,0,0,.85);font-family: DM-SANS;text-align: center;font-size: 1rem;">La publicacion dejará de aparecer en los listados, pero seguira visible como finalizada en tu perfil.</p>

          <ion-row style="margin-top: 1rem;  width: 100%; padding: 0 5%;">
            <ion-col size="6">
              <ion-button style="width: 100%; height: 3rem;  --border-radius: .5rem; --border-color: var(--ion-color-beta); color: var(--ion-color-beta);" fill="outline" (click)="modalF.dismiss()">
                  <span style="font-size: 1.2rem; font-family: DM-Sans; text-transform: none; font-weight: 600;"> Cancelar </span>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button style="width: 100%; height: 3rem; --background: var(--ion-color-beta); --border-radius: .5rem" (click)="finalizarPublicacion()">
                  <span style="font-size: 1.2rem; font-family: DM-Sans; text-transform: none; font-weight: 600;"> Finalizar </span>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-modal id="modalEliminar" #modalE >
  <ng-template>
    <ion-content no-shadow>
      <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; padding-bottom: 3rem;">
        <div style="text-align: center;background-color: white;margin: 1.5rem;border-radius: .5rem; padding: 1.25rem;">
          <p style="color: rgba(0,0,0,.85);font-family: DM-SANS;text-align: center;font-size: 1.5rem;font-weight: 600;margin: 0 2rem 1rem 2rem;">¿Esta seguro que deseas eliminar esta publicacion?</p>
          <p style="color: rgba(0,0,0,.85);font-family: DM-SANS;text-align: center;font-size: 1rem;">Se eliminara la publicacion de los listados y de tu perfil.</p>
          <p style="color: rgba(0,0,0,.85);font-family: DM-SANS;text-align: center;font-size: 1rem;">Esta accion <b>no puede deshacerse</b>.</p>

          <ion-row style="margin-top: 1rem;  width: 100%; padding: 0 5%;">
            <ion-col size="6">
              <ion-button style="width: 100%; height: 3rem;  --border-radius: .5rem; --border-color: var(--ion-color-beta); color: var(--ion-color-beta);" fill="outline" (click)="modalE.dismiss()">
                  <span style="font-size: 1.2rem; font-family: DM-Sans; text-transform: none; font-weight: 600;"> Cancelar </span>
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button style="width: 100%; height: 3rem; --background: red; --border-radius: .5rem" (click)="eliminarPublicacion()">
                  <span style="font-size: 1.2rem; font-family: DM-Sans; text-transform: none; font-weight: 600;"> Eliminar </span>
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>