// ion-modal {
//     --background: transparent;
//     // --height: 75%;
//     // width: 100%;
//     --box-shadow: none;
//     --backdrop-opacity: .75

// }

#modalImagen, #modalContacto{
    --background: transparent;
    // --height: 75%;
    --height: 100%;
    --box-shadow: none;
    --backdrop-opacity: .75

}
  
ion-modal::part(backdrop) {
    background: rgb(0,0,0);
    opacity: .75;
}


ion-modal ion-content{
    --background: transparent;
}

ion-modal ion-toolbar {
    --background: transparent;
    --color: white;
    --height: 2rem
}

ion-modal img{
    max-height: 80%;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 1024px) {
    ion-modal img{
        max-height: 75%;
        width: fit-content;
        margin-bottom: 3rem;
    }

    ion-content{
      --padding-start: 28%;
      --padding-end: 28%;
    }
    ion-modal ion-content {
        --padding-start: 0;
        --padding-end: 0;
    }
}

