<ion-header [translucent]="true">
  <ion-toolbar class="ion-no-border" color="beta">
  </ion-toolbar>
</ion-header>
<ion-content  [fullscreen]="true" style="--padding-start: 0%!important; --padding-end: 0%!important;">
  <ion-row> 
    <ion-col size="12" class="col-navbar" id="header">
      <img src="assets/logo_con_nombre.png" style="max-height: 15rem; padding-block: 10px;">
    </ion-col> 
  </ion-row>
  <ion-row class="reset-form" style="display: flex; justify-content: center; align-items: center; background-color: var(--ion-color-background); height: 3rem;">
    <ion-col >
      <div style="display: flex; flex-direction: column; align-items: center;">
        <p style="margin:0;font-family: DM-Sans; font-size: 1.1rem;"><b style="color: black;">Reiniciar Contraseña</b></p>
        <div style="margin: .35rem 0 0 0; height: 3px; width: 80% ;background-color: var(--ion-color-beta);"></div>
      </div>
    </ion-col>
  </ion-row>
  
  <form class="reset-form" id="recoverypassword" (ngSubmit)='reiniciar()' style="padding-inline: 1.2rem; padding-top: 1rem;">
    <ion-item lines="none" >
      <ion-label position="floating">Contraseña nueva</ion-label>
      <ion-input type="password" required name="newPassword" [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item lines="none" >
      <ion-label position="floating">Repita la contraseña nueva</ion-label>
      <ion-input type="password" required name="duplicatedNewPassword" [(ngModel)]="duplicatedNewPassword"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-button type="submit" form="recoverypassword" style="width: 100%; height: 3rem; --background: var(--ion-color-transito); --border-radius: 1rem">
          <span style="font-size: 1.2rem; font-family: DM-Sans; text-transform: none; font-weight: 600;"> Reiniciar </span>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
