#modalImagen, #modalEliminar {
    --background: transparent;
    // --height: 75%;
    --height: 100%;
    --box-shadow: none;
    --backdrop-opacity: .75

}

#modalQR {
    --background: rgba(var(--ion-color-beta-rgb),1);
    // --height: 75%;
    width: 100%;
    --box-shadow: none;
    --backdrop-opacity: .75

}
  
ion-modal::part(backdrop) {
    background: rgb(0,0,0);
    opacity: .75;
}


ion-modal ion-content{
    --background: transparent;
}

ion-modal ion-toolbar {
    --background: transparent;
    --color: white;
    --height: 2rem
}

ion-modal img{
    max-height: 80%;
    width: 100%;
    object-fit: cover;
}

.imagenQR {
    margin-bottom: 3rem; filter: drop-shadow(2px 4px 6px black); width: 85%!important;
}

@media screen and (min-width: 768px) {
	.imagenQR {
        margin-bottom: 1.5rem; filter: drop-shadow(2px 4px 6px black); width: 55%!important;
    }
}

@media screen and (min-width: 1024px) {
	ion-modal img{
        max-height: 75%;
        width: fit-content;
    }
    #imgQRNewOwner{
        max-height: 100%;
    }
    ion-content{
      --padding-start: 28%;
      --padding-end: 28%;
    }
    ion-modal ion-content {
        --padding-start: 0;
        --padding-end: 0;
    }
}