<ion-header>
  <ion-toolbar color="beta">
    <ion-buttons slot="start">
      <ion-button (click)="back()" fill="clear">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
      <!-- <ion-back-button color="light" defaultHref="home"></ion-back-button> -->
    </ion-buttons>

    <ion-title>
      <img src="assets/logo_con_nombre_derecha.png" class="logo-navbar">
    </ion-title>
  
    <ion-button slot="end" fill="clear" id="newPet" >
      <ion-icon slot="icon-only" color="light" name="add-circle-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="contentGeneral">  
  <ion-row style="display: flex; justify-content: center; align-items: center; height: 3rem; ">
    <ion-col style="display: flex; flex-direction: column; align-items: center;">
      <p style="margin:0;font-family: DM-Sans; font-size: 1.1rem; color: black;"><b>Mis Mascotas</b></p>
      <div style="margin: .35rem 0 0 0; height: 3px; width: 60% ;background-color: var(--ion-color-beta);"></div>
    </ion-col>
  </ion-row>
  <ion-refresher id="refresher" slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row *ngIf="mascotas.length > 0" style="display: flex; justify-content: center; align-items: center;">
    <div>
      <p style="width: 100%; padding: 0 5%; text-align: center; opacity: .3; font-weight: 600; font-size: 1rem; color: black;">
        Seleccione una mascota para ver la información completa
      </p>
    </div>
  </ion-row>
  <ion-row *ngIf="mascotas.length === 0" style="display: flex; justify-content: center; align-items: center;">
    <div>
      <p style="width: 100%; padding: 0 5%; text-align: center; opacity: .3; font-weight: 600; font-size: 1rem; color: black;">
        Aun no tienes ninguna mascota
      </p>
    </div>
  </ion-row>

  <ion-row style="display: flex; justify-content: center;">
    
    <!-- <ion-col style="display: flex; flex-direction: column; align-items: center;">
    </ion-col> -->
    <ion-item *ngIf="!hide_spinner" id="spinnerCarga" style="transform: scale(1.5); --inner-border-width:0; margin-top: 5rem;">
      <ion-spinner color="beta" name="circular"></ion-spinner>
    </ion-item>

    <div class="columna_variable" *ngFor="let mas of mascotas" style="cursor: pointer;">
      <ion-row id="{{mas.id}}" (click)="seleccionarMascota(mas.id)" class="not-selected"> 
        <ion-col size="6" style="padding: 0; background-image: url('{{getUrlImg(mas.imagen)}}'); 
                                background-size: cover; border-radius: .25rem 0 0 .25rem; background-position: center;
                                max-height: 18rem;">
        </ion-col>
        <ion-col size="6">
          <ion-row style="height: 60%;">
            <ion-col style="height: 100%; display: flex;flex-direction: column;justify-content: end;">
              <p style="text-align: center; font-size: 2rem; opacity: .75; font-weight: bold; font-family: DM-Sans; margin: 0; text-transform: uppercase;">
                {{mas.nombre}}
              </p>
            </ion-col>
          </ion-row>
          
          <ion-row style="height: 40%;">
            <ion-col style="height: 100%; display: flex;flex-direction: column;justify-content: end;">
              <p style="text-align: right; font-size: 1.2rem; opacity: .75; font-weight: bold; font-family: DM-Sans; margin:0;">
                {{mas.sexo}}<br>
                {{mas.edad}}
              </p>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      
    </div>
  </ion-row>


  <ion-modal id="modalNewPet" #modalNP trigger="newPet">
    <ng-template>
      <ion-content no-shadow>
        <div style="height: 100%; display: flex; flex-direction: column; justify-content: center; padding-bottom: 3rem;">
          <ion-toolbar>
            <ion-buttons slot="end">
              <ion-button color="light" (click)="modalNP.dismiss()">
                <ion-icon  style="color: white; height: 1.25rem;" name="close"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
          <div style="text-align: center;background-color: white;margin: 1.5rem;border-radius: .5rem; padding: 1.25rem;">
            <p style="color: rgba(0,0,0,.85);font-family: DM-SANS;text-align: center;font-size: 1.5rem;margin-left: 2rem;margin-right: 2rem;font-weight: 600;margin-bottom: 0;margin: 0 2rem;">Nueva Mascota</p>
            <div style="margin: .35rem 10%;height: 3px;background-color: var(--ion-color-beta);"></div>

            <ion-button style="width: 100%;height: 3rem; --border-radius: .5rem; --background:var(--ion-color-beta);color: white;margin-bottom: 1rem;" fill="solid" (click)="addMascota()" id="cargaNewPetManual">
              <span style="font-size: 1.5rem; font-family: DM-Sans; text-transform: none; font-weight: 600; "> CARGA MANUAL </span>
            </ion-button>

            <ion-button style="width: 100%;height: 3rem; --border-radius: .5rem; --background:var(--ion-color-beta);color: white;margin-bottom: 1rem; margin-top: 1rem;" fill="solid" (click)="leerQRMascota()" id="cargaNewPetQR">
              <span style="font-size: 1.5rem; font-family: DM-Sans; text-transform: none; font-weight: 600; "> ASOCIAR MASCOTA </span>
            </ion-button>

            <p style="color: rgba(0,0,0,.65);font-family: DM-SANS;text-align: center;font-size: .75rem;font-weight: 600;margin: 0;">
              Debe solicitar a uno de los dueños de la mascota el QR de 'Añadir Dueño', el cual se encuentra disponible en el perfil de la misma
            </p>


          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

